---
layout: default
lang: en
ref: index
---


<section class="folio">
	<img src="{{site.url}}/assets/img/main/devices.png" alt="{{page.image-alt}}">
	
	<!-- <h2>Work With Us...</h2> -->
	<p>Need a website for your project asap? but you want it to look hot and beat your competition, install our template now and have your website online within five minutes.</p>

	<div class="button"><a href="{{site.url}}/portfolio/">See portfolio</a></div>

</section>

<div class="home-blog">
	<h2>Read from the blog...</h2>
	
	{% for post in site.posts limit:3 %}
		<article>
        	<a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/assets/img/blog/{{ post.image }}" title="{{ post.title }}" alt="{{post.image-alt}}">
			
			<h3>{{ post.title }}</h3></a>
			
			<div class="category">{{post.categories}} | <span>{{ post.date | date: "%d.%m.%Y" }}</span></div>

			<p>{{ post.excerpt | truncate: 150 }}</p>

			<a href="{{ site.url }}{{ post.url }}" class="read-article">Read Article</a>

			<div class="author"> <span><img src="{{ site.url }}/assets/img/authors/{{post.authorimage}}" alt="{{post.author}}'s Avatar Image'">{{post.author}}</span> </div>
			<div class="read-time">
			{% assign words = post.content | number_of_words %}
				{% if words < 360 %}
					1 min read
				{% else %}
					{{ words | divided_by:180 }} mins read
			{% endif %}</div>
		</article>
	{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
	<a href="{{ site.url }}/blog/" title="Read more articles in our blog"> Read more posts</a></br>

	<!-- Pagination links 
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
		{% else %}
			<span class="previous">Previous</span>
		{% endif %}
		<span class="page_number ">
		Page: {{ paginator.page }} of {{ paginator.total_pages }}
		</span>
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		{% else %}
			<span class="next ">Next</span>
		{% endif %}
	-->
	
</div>

