---
layout: default
lang: en
ref: index
description: 
---

<section class="graphics">
	<div class="g-img"><img src="{{site.url}}/assets/img/folio/branding.jpg" alt="Business cards stacked on top of eachother"></div>
	<div><h2>Our Graphic designers will help you design and build your brand awareness for your audience</h2></div>
	<div><h2 style="color:#0060ff;">Need graphics for social media and online promotions? A new logo?</br> We can help you find the best design ideas to suit your brand</h2></div>
	<div class="g-img"><img src="{{site.url}}/assets/img/folio/16.jpg" alt="'beauty and the geek' poster artwork me made displayed on a digital poster board in the street"></div>
	
	<div class="button"><a href="{{site.url}}/portfolio/">See portfolio</a></div>

	<p>Our graphic designers will help you design and build your brand awareness for your audience</p>
</section>

<section class="folio">
	<img src="{{site.url}}/assets/img/main/devices.png" alt="line drawing of imac, laptop, tablet and mobile screen device">
	
	<p>Need a website for your project asap? but you want it to look hot and beat your competition, install our template now and have your website online within five minutes.</p>

	<div class="button"><a href="{{site.url}}/portfolio/">See portfolio</a></div>
</section>

<section class="home-blog">
	<h2>Read from the blog...</h2>
	
	{% for post in site.posts limit:3 %}
		<article>
        	<a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/assets/img/blog/{{ post.image }}" title="{{ post.title }}" alt="{{post.image-alt}}">
			
			<h3>{{ post.title }}</h3></a>
			
			<div class="category">{{post.categories}} | <span>{{ post.date | date: "%d.%m.%Y" }}</span></div>

			<p>{{ post.excerpt | truncate: 150 }}</p>

			<a href="{{ site.url }}{{ post.url }}" class="read-article">Read Article</a>

			<div class="author"> <span><img src="{{ site.url }}/assets/img/authors/{{post.authorimage}}" alt="{{post.author}}'s Avatar Image'">{{post.author}}</span> </div>
			<div class="read-time">
			{% assign words = post.content | number_of_words %}
				{% if words < 360 %}
					1 min read
				{% else %}
					{{ words | divided_by:180 }} mins read
			{% endif %}</div>
		</article>
	{% endfor %}
</section>

<!-- Pagination links -->
<section class="pagination">
	<a href="{{ site.url }}/blog/" title="Read more articles in our blog"> Read more posts</a></br>

	<!-- Pagination links 
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
		{% else %}
			<span class="previous">Previous</span>
		{% endif %}
		<span class="page_number ">
		Page: {{ paginator.page }} of {{ paginator.total_pages }}
		</span>
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		{% else %}
			<span class="next ">Next</span>
		{% endif %}
	-->
</section>