---
layout: page
title: Website themes and resources
---
<section>
	<article class="web-page">
		<h2>{{page.title}}</h2>
		<p>Here are our websites and graphics for you to download for free or a paid option.</p>
		
		{% for item in site.content-web %}
		<div class="product-item">
			<div class="product-image"><img src="{{site.url}}/assets/img/{{ item.image }}"></div>
			<div class="product-name"><h3>{{ item.name }}</h3></div>
			<div class="product-blurb"><p>{{ item.content | markdownify }}</p></div>
			<div class="product-buttons">
				<button onclick="location.href='http://andy.cymru/{{item.demo}}/'" class="demo" target="_blank">See Example</button>
				<button onclick="location.href='https://github.com/andycymru/{{item.download}}/archive/gh-pages.zip'" class="download">Download Theme</button>
			</div>
		</div>
		{% endfor %}
	
	</article>
	
	{% include custom.html %}
	
</section>