	<footer>
	
	<ul>
		<h4>Pages</h4>
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="{{site.url}}about/">About</a></li>
		<li><a href="{{site.url}}web/">Web</a></li>
		<li><a href="{{site.url}}graphics/">Graphic</a></li>
		<li><a href="{{site.url}}social/">Social</a></li>
		<li><a href="{{site.url}}blog/">Blog</a></li>
		<li><a href="{{site.url}}contact/">Contact</a></li>
	</ul>

	<ul>
		<h4>About Site</h4>
		<li><a href="{{site.url}}gdpr/">GDPR</a></li>
		<li><a href="{{site.url}}cookies/">Cookies Policy</a></li>
		<li><a href="{{site.url}}privacy/">Privacy Statement</a></li>
		<li><a href="{{site.url}}terms/">Term &amp; Conditions</a></li>
	</ul>
	
	<ul style="text-align:left;">
		<h4>social media</h4>
		<li><a href="http://www.twitter.com/imsofunky" target="_blank">Twitter</a></li>
		<li><a href="http://www.facebook.com/imsofunkyonline" target="_blank">Facebook</a></li>
		<li><a href="http://www.instagram.com/imsofunky" target="_blank">Instagram</a></li>
		<li><a href="http://www.linkedin.com/company/imsofunky" target="_blank">LinkedIn</a></li>
		<li><a href="http://www.github.com/imsofunky" target="_blank">GitHub</a></li>
	</ul>
	
	<p>Design By: <a href="#">ImSoFunky</a> &copy; 2019</p>
	
	</footer>

	<script src="{{site.url}}/assets/script.js"></script>
</body>
</html>
