</main>

<aside></aside>

<footer>
	<h2>Follow Us On Social Media</h2>
	<a href="http://www.facebook.com/{{site.facebook}}" target="_blank"><img src="{{ site.url }}/assets/img/icons/facebook.svg" alt="Facebook link"></a>
	<a href="http://www.instagram.com/{{site.instagram}}" target="_blank"><img src="{{ site.url }}/assets/img/icons/instagram.svg" alt="instagram link"></a>
	<a href="http://www.twitter.com/{{site.twitter}}" target="_blank"><img src="{{ site.url }}/assets/img/icons/twitter.svg" alt="Twitter link"></a>
	<a href="http://www.linkedin.com/company/{{site.linkedin}}" target="_blank"><img src="{{ site.url }}/assets/img/icons/linkedin.svg" alt="LinkedIn link"></a>
	<p>{{site.name}}&copy; 2020. All Rights Reserved.</p>
</footer>

<script src="{{ site.url }}/assets/js/script.js"></script>



</body>
</html>