<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="{{site.robots}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <meta name="msvalidate.01" content="5D38763EEC078679E6C158DFAB433D2F" />
    <meta name="google-site-verification" content="3rrK_7N4Ahn5-1ACbZSq7BeDYTqLbYyVmLD78RJT3gg" />
    <meta name="author" content="{{site.author}}">
    <meta property="og:url" content="{{ site.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:image" content="{{ site.url }}images/{{site.image}}" />
    <meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{{ site.url }}" />
	<meta name="twitter:creator" content="@{{site.twitter}}">
	<meta name="twitter:title" content="{{site.title}}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:image" content="{{ site.url }}images/{{site.image}}" />
	<meta name="keywords" content="{{site.keywords}}" />
<!-- <meta http-equiv="refresh" content="10; url=/"> -->
    <meta property="fb:app_id" content="{{site.url}}/" >
    <link rel="canonical" href="{{site.url}}">
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/favicon.png">
    <link href='{{ site.url }}feed.xml' rel='alternate' type='application/atom+xml'>
    <title>ImSoFunky {{site.description}}</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Lato:wght@100;300;400;900&display=swap|Muli:wght@300&display=swap' rel='stylesheet' type='text/css'>
</head>
<body>

    {% if page.url == "/" %}
    
    <header>
        <div class="header-main">
            <div class="logo"><a href="{{site.url}}"><img src="{{site.url}}/assets/img/main/logo.png"></a></div>
            <div class="nav-box">
                <button id="roundButton">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
            </div>
            <nav id="Slidenav">
                <ul>
                    <li><a href="{{site.url}}">Home</a></li>
                    <li><a href="{{site.url}}/portfolio/">Portfolio</a></li>
                    <li><a href="{{site.url}}/blog/">Blog</a></li>
                </ul>
            </nav>

            <div class="lead-text">
                <h1><span>{{site.name}}</span></br>Creating high quality designs for your branding and online marketing.</h1>
            </div>
        </div>
    </header>

    {% else %}
    
    <header>
        <div class="header-page">
            <div class="logo"><a href="{{site.url}}"><img src="{{site.url}}/assets/img/main/logo.png"></a></div>
            <div class="nav-box">
                <button id="roundButton">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
            </div>
            <nav id="Slidenav">
                <ul>
                    <li><a href="{{site.url}}">Home</a></li>
                    <li><a href="{{site.url}}/portfolio/">Portfolio</a></li>
                    <li><a href="{{site.url}}/blog/">Blog</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% endif %}

    <main>