header{background: #ff00d8; background: -moz-linear-gradient(top, #ff00d8 0%, #0060ff 100%); background: -webkit-linear-gradient(top, #ff00d8 0%,#0060ff 100%); background: linear-gradient(to bottom, #ff00d8 0%,#0060ff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00d8', endColorstr='#0060ff',GradientType=0 );background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%; padding-bottom:5%; color: #fff;}
header h1, header h2{padding: 7% 0 3% 0; color: #fff; text-transform:none; text-align: center; font-size:8vw;}
header p{font-family: 'Croissant One', cursive; font-size:4vw; margin: 1% auto 2% auto; line-height: 6vw; color: #fff; text-align: center; width: 90vw; }

.header-bar{width: 100%; background-color: transparent; padding: 2% 0;}
.header-logo {width: 10vw; float: left; margin: 0 2vw;}
.header-logo img{width: 100%; height: auto;}
.header-menu{width: 68vw; float: left;}

.header-page{background: rgb(252,0,255); background: -moz-linear-gradient(180deg, rgba(252,0,255,1) 0%, rgba(89,0,255,1) 100%); background: -webkit-linear-gradient(180deg, rgba(252,0,255,1) 0%, rgba(89,0,255,1) 100%); background: linear-gradient(180deg, rgba(252,0,255,1) 0%, rgba(89,0,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc00ff",endColorstr="#5900ff",GradientType=1); background-size: cover; background-repeat: no-repeat; height:auto; width: 100vw; padding:0; color: #fff;}


#roundButton, .bar1, .bar2, .bar3 {display: none;}
#Slidenav { width:70%; height:auto;  margin-top: 1.2%; background-color:transparent;}
#Slidenav ul{ list-style: none; text-align: left;}
#Slidenav li, #Slidenav li a{ margin:0 0.4vw; padding: 0; display:inline-block; color: #fff; font-size: 1.6vw;  background-color: transparent; text-transform: uppercase; letter-spacing: 0.2vw; text-decoration: none; font-weight: normal; font-family: 'Croissant One', cursive;}
#Slidenav li a:hover, #Slidenav li a:active{ color: #000;}
#Slidenav li img{width: 50px; margin: 0 auto;}
#Slidenav.show { transform: translate3d(0vw, 0,0);}

.header-social{width: 14vw; float: right; text-align: right; margin: 0 auto; padding-right:2vw;  }
.header-social svg, .header-social svg a{fill:#fff; width: 2vw; margin:0 0.6vw; }
.social {margin-top: 0; display: block; padding-right: 8%;}
.social svg, .social svg a{fill:#fff; width: 2vw; margin:0 0.6vw;}
.social svg:hover{fill:#000;}
.header-social2, .social2 {display: none;}

section, article{margin:0; padding: 0;}
article p{color: #313131;}

/* Homepage page */

article{width: 100%; padding:0; margin: 0;}
article h2{margin: 5vw 0 3vw 0; font-size: 6vw;}
	
.latest-templates{width: 90vw; padding-bottom: 5vw; margin: 0 auto;}
.latest-templates img{border:0; padding: 0; margin: 0; width:100%;}	
	
.web-themes, .graphic-templates, .social-templates{color:#fff; padding: 10vh 0; margin:0 auto;  text-align: center; }
.web-themes{background-color: #8a00e6; /*background-image:url(img/painter.jpg);*/}
.graphic-templates{background-color: #ff00d8;}
.social-templates{background-color: #0060ff;}
.web-themes h2, .graphic-templates h2, .social-templates h2{margin-bottom: 4vw;}
.web-themes p,.custom-design p, .graphic-templates p, .social-templates p{color:#fff; width:70vw; margin: 0 auto; font-size: 3.7vw; line-height: 4.5vw; text-align:left;}
.web-themes .cta, .graphic-templates .cta, .social-templates .cta{font-size: 2vw; font-family: Georgia, Times, "Times New Roman", serif; letter-spacing: 1vw;}

.home-blog{margin: 0 auto; padding:1vw 0 4vw 0; text-align: center; background-color: #d9d9d9; }
.home-blog ul {width: 100%; height: auto; margin:0 auto; padding: 0; }
.home-blog ul li {width: 30.6%; margin: 1%; padding: 0; height: auto; background-color:#f6f6f6; display:inline-block; vertical-align: top; border-radius: 2.2vw;-webkit-box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); -moz-box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21);}
.home-blog ul li img, .home-blog ul li img a{width: 100%; height: auto; border-radius: 2.2vw 2.2vw 0 0;}
.home-blog ul li .blog-content{padding: 2.5vw;}
.home-blog ul li h3{font-size: 2.3vw; text-transform: uppercase; margin-bottom: 1vw; line-height: 3vw;}
.home-blog ul li p{font-family: Georgia, Times, "Times New Roman", serif; text-align: justify; font-size: 1.2vw; line-height: 2.1vw;}
.p-btn a{margin: 4% 0; display: block; padding: 4% 4%; color: #fff; text-transform: uppercase; background-color: #8a00e6; text-align: center; }
	
.custom-design{background-color: #000; color: #fff; padding: 1vw 0 9vw 0; margin: 0;}
.custom-design p{margin: 0 auto 2vw auto; width: 80vw;}
.custom-design form{margin: 0 auto; padding: 1vw; width: 80vw; color: #666;}
.custom-design input, .custom-design textarea{margin: 1vw auto; padding: 3vw; width: 100%; color: #666; border-radius:0.7vw; border: none; font-size:1vw;}
.custom-design button{margin: 1vw auto; padding: 3vw; width: 100%; background-color: #ff00d8; color: #fff; border: none; border-radius:0.7vw; font-size:2vw;}
.custom-design button:hover{background-color: #0060ff; cursor: pointer;}
	
.product-item{width: 42vw; border-radius:1vw; height: auto; margin: 4vw 1.3vw; padding:0 0 1.5vw 0; background-color: #fff; border: none; -webkit-box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); -moz-box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); display: inline-block; vertical-align: text-top; }
.product-image img{width: 100%; height: auto; margin: 0; padding: 0; border-radius:1vw 1vw 0 0;}
.product-name h3{text-align: center; font-size:4.4vw; color: #fff; padding:2vw 0; margin: 0; border-radius:0;}
.product-blurb{padding: 5vw;}
.product-buttons {text-align: center; border-top: solid 1.3pt #dbdbdb; margin: 0 auto; padding-top:2%; width:90%;}
.product-buttons button{ padding: 3% 4%; margin: 2%; border: none; color: #fff; border-radius:1vw; text-transform: uppercase; line-height: 1.4em; }
.product-buttons button:hover{ background-color: #000; cursor:pointer;}
.demo{background-color: #ff00d8;}
.download{background-color: #313131;}



/* Blog page */
.blog-page h2,.blog-page h3,.blog-page h4,.blog-page h5{width: 84%; margin: 2vw auto; text-transform:none; text-align: left;}
.blog-page h3,.blog-page h4,.blog-page h5{text-transform: uppercase; margin: 5vw auto 3vw auto;}
.blog-page h2{font-size: 4.8vw; line-height: 5vw; margin: 1vw auto; text-align: center;}
.blog-page h3{font-size: 4vw;}
.blog-page h4{font-size: 3.5vw;}
.blog-page h5{font-size: 3vw;}
.blog-page hr{width: 35vw; height: 2pt; background-color: #000; margin: 0 auto 2vw auto; }
	
.blog-page cat{font-family: Georgia, Times, "Times New Roman", serif; width: 84%; margin: 3vw auto 0 auto; text-align:center; display: block; text-transform: uppercase; letter-spacing: 0.5vw; font-weight: normal; font-size: 1.6vw; line-height: 1.4vw; color: #999; }
	
.blog-page span{width: 84%; text-align:left; display: block; color: #999; font-size: 1.3vw; margin: 0 auto 3vw auto; letter-spacing: 0.1vw; text-transform: capitalize; text-align: center;}
.blog-page date, .blog-page author{ font-family: Georgia, Times, "Times New Roman", serif; }
	
.blog-page img, .blog-page img a{width: 100%; height: auto; border-radius:0; margin: 0 0 4vw 0;}
	
.blog-page p{width: 82%; margin: 0 auto 4vw auto; font-family: Georgia, Times, "Times New Roman", serif; text-align: justify; font-size: 2vw; line-height: 4vw;}
	
.blog-page blockquote{width: 72%; margin: 6vw auto; font-family: Georgia, Times, "Times New Roman", serif; font-style: italic; text-align: justify; font-size: 2.2vw; line-height: 3.8vw;}
	
.blog-page ol{width: 94%; margin: 4vw auto;}
.blog-page ol li{list-style: circle}
	
.blog-page ul {width: 100%; height: auto; margin:0 auto; padding: 0; }
.blog-page ul li {width: 30%; margin: 3% 1%; padding: 0; height: auto; background-color:#fff; display:inline-block; vertical-align: top; border-radius: 2.2vw;-webkit-box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); -moz-box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.21); }
.blog-page ul li img, .blog-page ul li img a{width: 100%; height: auto; margin: 0; border-radius: 2.2vw 2.2vw 0 0;}
.blog-page ul li .blog-content{padding: 2.5vw;}
.blog-page ul li date, .blog-page ul li author{ }
.blog-page ul li h2{font-size: 5.6pt; text-transform: uppercase; margin: 3vw 2.5vw; line-height: 5.3vw;}
.blog-page ul li p{font-family: Georgia, Times, "Times New Roman", serif; text-align: justify; font-size: 3.2vw; line-height: 4.8vw;}
.p-btn a{margin: 4% 0; display: block; padding: 4% 4%; color: #fff; text-transform: uppercase; background-color: #8a00e6; text-align: center; }

.blog-social{display: block; width: 100%; margin:0 0 4vw 0; padding: 0; text-align: center;}
	
.blog-social h3{display: block; margin:3% 0 2% 0; text-align: center; font-size: 4vw;}
	
.blog-social a{width: 29vw; padding:1.3vw 0; margin: 0.5vw 0.2vw; color: #fff; text-align: center; border: none; display: inline-block; letter-spacing: 0;}
.blog-social a:hover{opacity: 0.7;}
.blog-social .facebook{background-color: #3b5998;}
.blog-social .twitter{background-color: #1da1f2;}
.blog-social .instagram{background-color: #c32aa3;}
.blog-social .pinterest{background-color: #bd081c;}
.blog-social .linkedin{background-color: #007bb5;}
.blog-social .email{background-color: #000;}
	
.pagination{display: block; text-align: center; padding: 2vw 0; width: 60%; margin: 0 auto;}
.pagination a{background-color: #dbdbdb; margin: 0 1vw; padding: 1vw 2vw; color: #000; display: inline-block; text-transform: uppercase;}

		
footer{display: block; padding: 2vw 0; background-color: #313131; color: #999;}
footer p, footer p a{text-align: center; color: #999; margin: 2vw auto 0 auto; width: 70vw;}
footer h4, footer h4 a{color: #999; text-align: left; margin-bottom: 1vw; letter-spacing: 0.2vw;}
footer ul{width:12vw; margin:0 10vw; height: auto; display: inline-block; vertical-align: top;}
footer ul li, footer ul li a{color:#999; line-height: 1.8em;}
