---
---
{% include header.html %}

<article>

    <h1>{{page.client}}</h1>

    <img src="{{site.url}}/assets/img/folio/folio-gallery/{{page.image}}" alt="{{page.image-alt}}">
    
    <description>{{page.image-description}}</description>

    {{ content }}


    <div class="contact-me">
        <h3>Get In Contact</h3>
        <a href="tel:+4407703049609">Give Me A Call</a> | 
        <a href="https://tawk.to/chat/5f654adef0e7167d0011bc62/default">Live chat with me</a> | 
        <a href="mailto:andy@imsofunky.com">Shoot me an email</a> </br>
        <!-- <a href="{{site.url}}/assets/files/credentials_portfolio.pdf">Download Full Credentials</a> -->
    </div>

</article>

{% include footer.html %}