---
---
{% include header.html %}

<main class="main-article">

  <h1>{{ page.title }}</h1>
  
  <div class="category">
    {% assign sortedCategories = page.categories | sort %}
      {% for category in sortedCategories %}
      <a href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}" title="View all posts from category: {{ category }}">{{ category | join: " | " }}</a>                
    {% endfor %}
  </div>

  <div class="date"><strong>Date: </strong>{{ page.date | date: "%d.%m.%Y" }} | </div>
  <div class="author"><strong>Author: </strong>{{page.author}}</div>
  
  <div class="content-image">
    <img src="{{ site.url }}/assets/img/blog/{{ page.image }}" title="{{ page.title }}" alt="{{page.image-alt}}">
    <div class="image-description">{{page.image-description}}</div>
    {% if image-credit-link %}<div class="image-credit">photo:<a href="http://www.{{page.image-credit-link}}" title="Image owned by {{page.image-credit}}">{{page.image-credit}}</a></div> {% endif %}
  </div>

	<content>{{ content }}</content>
</main>

<div class="social-share-floating-bar hidden-sm hidden-xs">
  {% include social-share.html %}
</div>


<section class="related-posts">
    {% unless page.categories == empty %}
    <h3>Explore more like this...</h3>
    {% endunless %}

    {% assign maxRelated = 3 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}

    
        {% for post in site.posts %}
        
            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}
        
            {% for category in post.categories %}
            {% if post.url != page.url %}
                {% if page.categories contains category %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} {{ category }} {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
                {% endif %}
            {% endif %}
            {% endfor %}
        
            {% if sameTagCount >= minCommonTags %}
            
            <article>
                <a href="{{ site.url }}{{ post.url }}">
                    <img src="{{ site.url }}/assets/img/blog/{{ post.image }}" title="{{post.title}}" alt="{{post.image-alt}}">
                    <h4>{{post.title}}</h4>
                </a>
            </article>

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
            {% endif %}
        
        {% endfor %}
    </section>

	{% include footer.html %}  