---
---
{% include header.html %}  	

<article class="main-article">

  <h1>{{ page.title }}</h1>
  
  <div class="category">
    {% assign sortedCategories = page.categories | sort %}
      {% for category in sortedCategories %}
      <a href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}" title="View all posts from category: {{ category }}">{{ category | join: " | " }}</a>                
    {% endfor %}
  </div>

  <div class="date"><strong>Date: </strong>{{ page.date | date: "%d.%m.%Y" }} | </div>
  <div class="author"><strong>Author: </strong>{{page.author}}</div>
  
  <div class="content-image">
    <img src="{{ site.url }}/assets/img/blog/{{ page.image }}" title="{{ page.title }}" alt="{{page.image-alt}}">
    <div class="image-description">{{page.image-description}}</div>
    <div class="image-credit">photo:<a href="http://www.{{page.image-credit-link}}" title="Image owned by {{page.image-credit}}">{{page.image-credit}}</a></div>
  </div>

	<content>{{ content }}</content>

</article>
</main>

<section class="post-share">
  <h3>Share article with your friends...</h3>

  <a class="email" href="mailto:?subject={{ page.title }}&amp;body=Check out this post {{ site.url }}{{site.baseurl}}{{ page.url }}" title="Share '{{ page.title }}' on Email" target="_blank"><img src="{{ site.url }}/assets/img/icons/email.svg" alt="share our article on email"></a>
  
  <a class="facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share '{{ page.title }}' on Facebook"><img src="{{ site.url }}/assets/img/icons/facebook.svg" alt="share our article on facebook"></a>
  
  <a class="imessage" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share '{{ page.title }}' on messenger"><img src="{{ site.url }}/assets/img/icons/messenger.svg" alt="share our article on messenger"></a>
  
  <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" title="Share '{{ page.title }}' on Twitter"><img src="{{ site.url }}/assets/img/icons/twitter.svg" alt="share our article on twitter"></a>
  
  <a class="pinterest" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;" title="Share '{{ page.title }}' on pinterest" target="_blank"><img src="{{ site.url }}/assets/img/icons/pinterest.svg" alt="share our article on pinterest"></a>
  
  <a class="whatsapp" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;" title="Share '{{ page.title }}' on whatsapp" target="_blank"><img src="{{ site.url }}/assets/img/icons/whatsapp.svg" alt="share our article on whatsapp"></a>
  
  <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;" title="Share '{{ page.title }}' on linkedin" target="_blank"><img src="{{ site.url }}/assets/img/icons/linkedin.svg" alt="share our article on linkedin"></a>
  

</section>




<section class="related-posts">
    {% unless page.categories == empty %}
    <h3>Explore more like this...</h3>
    {% endunless %}

    {% assign maxRelated = 3 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}

    
        {% for post in site.posts %}
        
            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}
        
            {% for category in post.categories %}
            {% if post.url != page.url %}
                {% if page.categories contains category %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} {{ category }} {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
                {% endif %}
            {% endif %}
            {% endfor %}
        
            {% if sameTagCount >= minCommonTags %}
            
            <article>
                <a href="{{ site.url }}{{ post.url }}">
                    <img src="{{ site.url }}/assets/img/blog/{{ post.image }}" title="{{post.title}}" alt="{{post.image-alt}}">
                    <h4>{{post.title}}</h4>
                </a>
            </article>

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
            {% endif %}
        
        {% endfor %}
    </section>

	{% include footer.html %}  